@include Sm{
    header{
        .container{
            flex-direction: column;
            ul{
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }
    .h2{
        font-size: 1.5rem;
    }
    .services{
        .services-items{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .images{
        grid-template-columns: repeat(2, 1fr);
    }
    .get_in_touch{
        .container{
            .contact{
                flex-direction: column;
                .mail{
                    margin-top: 15px;
                }
            }
        }
    }
}
@include Xs{
    .images{
        grid-template-columns: repeat(1, 1fr);
    }
}
